.col-sm-4.grid-margin
  .card
    .card-body
      h5 Tài khoản
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalUsers
          h6.text-muted.font-weight-normal 11.38% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #8f5fe8")
          i.fas.fa-user-alt.display-2
          
.col-sm-4.grid-margin
  .card
    .card-body
      h5 Bài Viết
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalPosts
          h6.text-muted.font-weight-normal 9.61% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #ffab00")
          i.fas.fa-clipboard-check.display-2

.col-sm-4.grid-margin
  .card
    .card-body
      h5 ADMIN
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalManagers
          h6.text-muted.font-weight-normal 2.27% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #f53e44;")
          i.fas.fa-biohazard.display-2


.col-sm-4.grid-margin
  .card
    .card-body
      h5 NOTIFICATIONS
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalNotifications
          h6.text-muted.font-weight-normal 2.27% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #0090e7;")
          i.fas.fa-bell.display-2

.col-sm-4.grid-margin
  .card
    .card-body
      h5 MESSAGES
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalMessages
          h6.text-muted.font-weight-normal 2.27% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #0090e7;")
          i.fas.fa-comments.display-2
          
.col-sm-4.grid-margin
  .card
    .card-body
      h5 Chats
      .row
        .col-8.col-sm-12.col-xl-8.my-auto
          .d-flex.d-sm-block.d-md-flex.align-items-center
            h2.mb-0= totalChats
          h6.text-muted.font-weight-normal 2.27% Since last month
        .col-4.col-sm-12.col-xl-4.text-center.text-xl-right(style="color: #00d25b;")
          i.far.fa-address-book.display-2
